fastapi==0.115.4
uvicorn[standard]==0.32.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
redis[hiredis]==5.2.0
pydantic==2.10.2
python-dotenv==1.0.1
alembic==1.14.1
PyJWT==2.9.0
bcrypt==4.2.1
python-json-logger==3.2.1
